body {
    text-align: center;
    margin: 20px;
}
#mineField {
    border: 1px solid black;
}

button {
    padding: 0;
    width: 25px;
    min-width: 25px;
    max-width: 25px;
    height: 25px;
    min-height: 25px;
    max-height: 25px;
    text-align: center;
}